.cards {

    width: 570px;
    height: auto;
    

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: relative;

    margin-bottom: 90px;
    border-radius: 5px;
    padding-bottom: 30px;

    box-shadow: 2px 2px 10px #64419A;


}

.cards:hover{

    box-shadow: 2px 2px 10px #64419A, -2px -2px 10px #64419A;

}

.cards img {

    height: 300px;
    object-fit: contain;
  

}

.cards-id{

    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;

}

.cards-button {

    border-radius: 5px;
    border: none;
    background-color: #131318;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;

}

.cards-body {


    text-align: center;
    font-size: 20px;

}