.cards {

    width: 570px;
    height: auto;
    

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: relative;

    margin-bottom: 70px;
    border-radius: 5px;
    padding-bottom: 30px;

    box-shadow: 2px 2px 10px #EE7900;


}

.cards:hover{

    box-shadow: 2px 2px 10px #EE7900, -2px -2px 10px #EE7900;

}

.cards img {

    height: 360px;
    object-fit: contain;
  

}

.cards-id{

    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;

}

.cards-button {

    border-radius: 5px;
    border: none;
    background-color: gold;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;

}

.cards-body {


    text-align: center;
    font-size: 20px;

}