.cards {

    width: 500px;
    height: 600px;
    

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: relative;

    margin-bottom: 70px;
    border-radius: 5px;

    box-shadow: 2px 2px 10px #EE1D52;


}

.cards:hover{

    box-shadow: 2px 2px 10px #EE1D52, -2px -2px 10px #EE1D52;

}

.cards img {

    height: 400px;
    object-fit: contain;
  

}

.cards-id{

    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;

}

.cards-button {

    border-radius: 5px;
    border: none;
    background-color: gold;
    font-size: 20px;

}