.navbar {

    background-color: #131318;
    box-shadow: 2px 2px 10px #C8A3DD, -2px -2px 10px #C8A3DD;

}

.navbar-collapse {

    display: flex;
    justify-content: start;
    margin-left: 120px;
   

  

}



.nav-item{

    margin: 0 10px;

   

}

.nav-links {

   
    font-size: 20px;
    text-decoration: none;
    color: #FFEDCB;


}


.nav-links:hover {

    color: #FFEDCB;
    font-weight: bold;
    border-bottom: 1px solid #FFEDCB;

}

.nav-links:focus {

  color: #FFEDCB;

}




/* #EE7900 */