.navbar-collapse {

    display: flex;
    justify-content: start;
    margin-left: 120px;

  

}

.navbar-fondo {

    background-color: #000000;

}

.nav-item{

    margin: 0 6px;
   

}

.nav-link {

    color: #FFEDCB;
    font-size: 20px;

}


.nav-link:hover {

    color: #FFEDCB;
    font-weight: bold;
    border-bottom: 1px solid #FFEDCB;

}

.nav-link:focus {

  color: #FFEDCB;

}

/* #EE7900 */